body {
    background-color: darkblue;
}

#imgdiv {
    width: 480px;
    height: 480px;
    top: 50%;
    left: 50%;
    right: 50%;
    position:fixed;
    transform: translate(-50%, -50%); 
}

#status {
    text-align: center;
}

div img {
    display: block;
    width: 100%;
}