<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/stylesheets.css') }}">
    </head>
    
    <body>
        <div id='status'></div>
        <button id='start' type='button'>start</button>
        <div id='imgdiv'>
            <img src="" id="myimg" />
        </div>
    </body>

    <script>
        function ajaxEvent(){
            $.ajax({
                url: "{{ url_for ('get_img') }}",
                type: "GET",
                success: function(response) {
                    response != 'finished' ? $("#myimg").attr('src', '/static/' + response) : $("#status").text('finished')
                },
                error: function(xhr) {
                // error
                }
            });
        }

        $(document).ready(function() {
            <!-- click on button -->
            $("#start").click(function(e) {
               $(e.target).remove();
               ajaxEvent();
            });

            <!-- press right arrow key -->
            $(document).keyup(function(e){
                if (e.keyCode == 39) {
                    ajaxEvent();
                    $('#status').text('') 
                }
            });

            $(document).keyup(function(e) {
                <!-- press 1 for approval -->
                if (e.keyCode == 49) { // http://gcctech.org/csc/javascript/javascript_keycodes.htm 
                    var status = 'approve';
                    $.ajax({ 
                        url: '/status', 
                        type: 'POST', 
                        data: status,
                        success: function(response){ 
                            $('#status').text(status) 
                        } 
                    });    
                <!-- press 0 for disapproval -->
                } else if (e.keyCode == 50) {
                    var status = 'reject';
                    $.ajax({ 
                        url: '/status', 
                        type: 'POST', 
                        data: status,
                        success: function(response){ 
                            $('#status').text(status) 
                        } 
                    });    
                }
            });
        });
    </script>

</html>